version: '3.8'

services:
  mongo:
    image: mongo
    ports:
      - '27017:27017'
    volumes:
      - dbdata:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval" ,"db.adminCommand('ping')"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 40s

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - cache:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5

  api:
    build: ./analytics-api
    restart: always
    ports:
      - "8000:8000"
    environment:
      MONGO_URI: "mongodb://mongo:27017"

      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy

  producer:
    build: ./producer
    restart: always
    ports:
      - "8090:8090"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy


  consumer:
    build: ./consumer
    restart: always
    ports:
      - "8060:8060"
    environment:
      MONGO_URI: "mongodb://mongo:27017"

      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  dbdata:
  cache:
    driver: local
